body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1d2a35;
    height: 100vh;
    /* Consistent background */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #0e1a23;
}
/* .headDiv{
    position: sticky;
    top: 0px;
} */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #00b67a;
}

.search-bar {
    padding: 5px;
    border-radius: 4px;
    border: none;
    width: 300px;
    background-color: #f1f1f1;
    /* Light background for input */
}

/* .auth-buttons button {
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #00b67a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-buttons button:hover {
    background-color: #019463;
} */
/* src/pages/stylesheet/component.module.css */
.auth-buttons button {
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #00b67a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .auth-buttons button:hover {
    background-color: #019463;
  }
  
  .auth-buttons button.log-in {
    background-color: transparent;
    color: #00b67a;
    border: 1px solid #00b67a;
    transition: background-color 0.3s ease;
  }
  
  .auth-buttons button.log-in:hover {
    background-color: transparent;
    color: #019463;
    border: 1px solid #019463;
  }
/* -------changed button aster backend----------------   */


.auth-buttons button.log-in {
    background-color: transparent;
    color: #00b67a;
    border: 1px solid #00b67a;
    transition: background-color 0.3s ease;
}

.auth-buttons button.log-in:hover {
    background-color: transparent;
    color: #019463;
    border: 1px solid #019463;
}

footer {
    height: 5vh;
    width: 100%;
    background-color: #0e1a23;
}