/* General Layout and Styling */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

/* Header Styles */
.header {
  background-color: #0c1b27;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: 600;
  color: #43da9a;
}

.search_bar {
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  font-size: 14px;
}

.auth_buttons {
  display: flex;
  gap: 10px;
}

.auth_buttons button {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #43da9a;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth_buttons button:hover {
  background-color: #36b88e;
}

.nav_bar {
  display: flex;
  justify-content: center;
  background-color: #282a35;
  padding: 2px;
}

.nav_link {
  color: #43da9a;
  text-decoration: none;
  font-weight: 500;
  padding: 12px 20px;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.nav_link_in {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  padding: 12px 20px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav_link:hover {
  background-color: #43da9a;
  color: white;
  border-radius: 5px;
}

/* Main Content */
.home_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* updated css for cards */
.home_card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.home_card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.home_card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.home_card_content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.home_card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin: 0 0 8px;
}

.home_card h6 {
  font-size: 14px;
  color: #777;
  margin: 0;
}

.home_card p {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
  margin: 8px 0 0;
}

/* Card Button or Footer Section */
.home_card_footer {
  padding: 12px 16px;
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
  text-align: center;
}

.home_card_footer button {
  padding: 8px 20px;
  background-color: #43da9a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home_card_footer button:hover {
  background-color: #36b88e;
}

/* ------------------------------------------------------------------------------------------------ */

/* Harvesting Engines Styles */

/* ------------------------------------------------------------------------------------------------ */
.Add_Engine {
  background-color: #43da9a;
  color: #fff;
  padding: 8px;
  border-radius: 50px;
  cursor: pointer;
}

.Add_Engine:hover {
  background-color: #36b88e;
}

.Add_Engine_field {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #0c1b27;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.engine_list {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.engine_item {
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  border-radius: 8px;
  width: 800px;
  /* Full width for larger look */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.engine_item:hover {
  transform: translateY(-5px);
}

.engine_item img {
  width: 195px;
  padding: 5px;
  border-radius: 15px;
  object-fit: cover;
}

.engine_info {
  padding: 5px;
  width: 100%;
}
.engine_info h3 {
  margin: 0px;
}
.engine_info hr {
  margin: 0px;
  border: 0.1px solid rgb(83, 83, 83);
  width: 60%;
}
.placeholdDiv {
  height: 25px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Engine_del {
  padding: 2px;
  position: relative;
  left: 10px;
  color: #1f2937;
}
.Engine_del:hover {
  color: #36b88e;
  cursor: pointer;
}
/* ----------------------- Engine add ----------------------- */

.component.Engine_form {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure form is on top */
  transition: all 0.3s ease-in-out;
}

.component.Engine_form form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.component.Engine_form label {
  display: block;
  margin-bottom: 10px;
}

.component.Engine_form input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.component.Engine_form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.component.Engine_form button:hover {
  background-color: #0056b3;
}
/* ------------------------------------pop up ----------------------------------------------------- */
.model,
.overlayDiv {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.overlayDiv {
  background-color: rgb(90, 90, 90, 0.9);
}
.DetailContent {
  position: absolute;
  top: 40%;
  left: 50%;
  color: white !important;
  transform: translate(-50%, -50%);
  line-height: 1.5;
  background-color: #0e1a23;
  padding: 14px;
  border-radius: 3px;
  box-shadow: 0 4px 10px rgba(0, 0, 0);
  max-width: 600px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.DetailContent table {
  width: 40%;
  border-collapse: collapse;
}
.DetailContent img {
  border-radius: 10px;
  width: 500px;
  height: 400px;
}
.DetailContent table {
  text-align: left;
}

/* --------------- for add engine --------------- */
.EnginePopupForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 2px;
  background-color: #0e1a23;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  padding-right: 40px;
  max-width: 400px;
  width: 90%;
  font-family: Arial, sans-serif;
}

.EnginePopupForm label {
  display: block;
  color: #f9f9f9;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.EnginePopupForm input {
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  margin: 6px 0 15px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.EnginePopupForm input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.EnginePopupForm button {
  display: inline-block;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.EnginePopupForm button:hover {
  background-color: #218838;
}

.Add_Engine_close {
  font-size: 28px;
  padding: 5px;
  margin-bottom: 15px;
  color: #7a7a7c;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}

.Add_Engine_close:hover {
  color: #ffffff;
  background-color: #e81123;
}

/* ------------------------------------------------------------------------------------------------ */

/* Community Styles */

/* ------------------------------------------------------------------------------------------------ */

.chat_container {
  padding: 20px;
  padding-bottom: 80px;
  /* Bottom padding for space above fixed input container */
  background-color: #1d2a35;
  min-height: 450px;
  overflow-y: auto;
}

.chat_message {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 12px;
  width: 800px;
  border-radius: 20px;
  color: #333;
}

.user_message {
  margin-bottom: 20px;
  padding: 12px;
  width: 800px;
  border-radius: 20px;
  color: #333;
  background-color: #d0ffcd;
}

.message_header {
  font-size: 12px;
  color: #777;
  margin-bottom: 5px;
}

.message_body {
  font-size: 14px;
  color: #333;
}

.message_input_container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #0c1b27;
  position: fixed;
  /* Fix to the bottom of the viewport */
  bottom: 0;
  width: 100%;
  /* Full width across screen */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  /* Optional: shadow to add visual separation */
}

.message_input_container input {
  width: 80%;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 0px;
  border: 1px solid #ccc;
}

.message_input_container button {
  padding: 5px 24px;
  height: 45px;
  border-radius: 8px;
  margin-right: 20px;
  background-color: #43da9a;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.message_input_container button:hover {
  background-color: #36b88e;
}

/* ------------------------------------------------------------------------------------------------ */

/* cardInfo css */

/* ------------------------------------------------------------------------------------------------ */

.pageContainer {
  min-height: 100vh;
  background-color: #1a1a1a;
  color: white;
  padding: 16px;
}

/* Header */
.header {
  background-color: #0c1b27;
  padding: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #374151;
}

.backButton {
  font-size: 24px;
  color: #43da9a;
  cursor: pointer;
  margin-right: 16px;
}

.headerTitle {
  color: #43da9a;
  font-size: 24px;
  font-weight: bold;
}

/* Tabs */
.tabsContainer {
  background-color: #1f2937;
  padding: 8px;
}

.tab {
  color: white;
  margin-right: 16px;
  cursor: pointer;
}

.activeTab {
  color: #43da9a;
}

/* Main Content */
.mainContent {
  padding: 24px;
  max-width: 1120px;
  margin: 0 auto;
}

/* Crop Title */
.cropTitle {
  color: #43da9a;
  font-size: 28px;
  margin-bottom: 24px;
}

/* Best Varieties Section */
.section {
  margin-bottom: 32px;
}

.sectionTitle {
  color: #43da9a;
  font-size: 20px;
  margin-bottom: 16px;
}

.varietyCard {
  background-color: #374151;
  margin: 10px;
  padding: 16px;
  border-radius: 8px;
}

.varietyName {
  color: white;
  font-weight: bold;
  margin-bottom: 8px;
}
.varietyImage {
  height: 400px;
  width: 400px;
  object-fit: fill;
}
.varietyDetails {
  color: #a1a1aa;
}

/* Time Period Section */
.timePeriod {
  background-color: #374151;
  padding: 16px;
  border-radius: 8px;
}

/* Crop Management Section */
.managementStep {
  margin-bottom: 8px;
}

/* Planting Method Section */
.methodCard {
  background-color: #374151;
  margin: 10px;
  padding: 16px;
  border-radius: 8px;
}

.methodTitle {
  color: white;
  font-weight: bold;
  margin-bottom: 8px;
}

.advantageList,
.disadvantageList {
  color: #a1a1aa;
  list-style-type: disc;
  margin-left: 20px;
}

/* Spacing Details */
.spacingDetails {
  background-color: #374151;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 24px;
}

/* Disease Section */
.diseaseCard {
  background-color: #374151;
  margin: 10px;
  padding: 16px;
  border-radius: 8px;
}

.diseaseName {
  font-weight: bold;
  color: white;
  margin-bottom: 8px;
}

.diseaseInfo {
  color: #a1a1aa;
}

/* ------------------------------------------------------------------------------------------------ */
/* Responsive Design */
/* ------------------------------------------------------------------------------------------------ */

@media screen and (max-width: 768px) {
  .home_grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .search_bar {
    width: 100%;
    margin-top: 10px;
  }

  .auth_buttons {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  /* .nav_bar {
      flex-direction: column;
    } */

  .nav_link {
    padding: 10px 15px;
  }
}
